<header class="header">
  <img class="header__icon" src="./assets/images/ico-menu.svg" alt="icon-menu" />

  <div class="header__hero">
    <div class="header__hero-inner">
      <h1 class="header__hero-inner-tittle">Anonimous proxy</h1>
      <h3 class="header__hero-inner-second-tittle">In hac habitasse platea dictumst.</h3>

      <a class="header__hero-icon" href="#reasons">
        <img class="scroll-down" src="./images/ico-scroll-down.svg" alt="icon-scroll-down" />
      </a>
    </div>
  </div>
</header>
