<header class="header" id="home">
  <div class="container__header-icon">
    <img class="header-icon" src="./assets/images/ico-menu.svg" alt="icono-menu" />
  </div>

  <div class="header__hero">
    <div class="header__hero-inner">
      <h1 class="header__hero-inner-tittle">Anonimous proxy</h1>
      <h3 class="header__hero-inner-second-tittle">In hac habitasse platea dictumst.</h3>

      <div class="container_scroll-down">
        <a class="scroll-down-link" href="#reasons">
          <img class="scroll-down-icon" src="./assets/images/ico-scroll-down.svg" alt="icono-scroll-down" />
        </a>
      </div>
    </div>
  </div>
</header>
