
<main class="main">
  <section class="insomnia-tips">
    <h3 class="insomnia-tips_tittle-name">insomnia tips</h3>
    <h1 class="insomnia-tips_tittle-section">looking through a window</h1>
    <span class="buttom-section">go</span>
  </section>

  <section class="reasons" id="reasons">
    <h1>3 reason to purchase</h1>
    <div>
      <div>
        <h1>ut sed metus</h1>
        <p>lorem ipsum dolor sit amet, consecteur.</p>
      </div>

      <div>
        <h1>curabitur ac erat</h1>
        <p>Mauris mattis urna quis lorem molestie</p>
      </div>

      <div>
        <h1>morbi dictum</h1>
        <p>aliquam in dolor et dolor tincidunt</p>
      </div>
    </div>

    <span class="buttom-second-section">more reasons</span>
  </section>
</main>
