<section class="reasons" id="reasons">
  <h1 class="reasons-tittle">3 reason to purchase</h1>

  <div class="section-container">
    <div class="section-container__reason">
      <h3 class="reason__tittle">Ut sed metus</h3>
      <p class="reason__description">Lorem ipsum dolor sit amet, consecteur.</p>
    </div>

    <div class="section-container__reason">
      <h3 class="reason__tittle">Curabitur ac erat</h3>
      <p class="reason__description">Mauris mattis urna quis lorem molestie</p>
    </div>

    <div class="section-container__reason">
      <h3 class="reason__tittle">Morbi dictum</h3>
      <p class="reason__description">Aliquam in dolor et dolor tincidunt</p>
    </div>
  </div>

  <div class="rectangle-buttom">
    <span class="buttom-section">more reasons</span>
  </div>
</section>
