/*CONTAINER CENTRAL*/
.insomnia-tips {
  padding-left: 15.04px;
  padding-right: 15.04px;
  width: 100%;
  height: 376px;
  @media all and (min-width: 768px) {
    height: 330px;
    padding-left: 40px;
    padding-right: 40px;
  }
  @media all and (min-width: 1280px) {
    padding-left: 275px;
    padding-right: 275px;
  }
}

/*CONTAINER ARTICLE*/
.content__insomnia-tips {
  display: flex;
  flex-direction: column;
  align-items: left;
  @media all and (min-width: 768px) {
    margin-top: 30px;
  }
}

/*FIRST TITTLE*/

.insomnia-tips_tittle-name {
  font-family: "Roboto Slab", serif;
  color: #8ccbea;
  font-size: 14px;
  text-transform: capitalize;
  margin-top: 30px;
  margin-bottom: 5px;
  @media all and (min-width: 1280 px) {
    font-size: 16px;
  }
}

/*SECOND TITTLE*/

.insomnia-tips_tittle-article {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  color: black;
  font-size: 24px;
  text-transform: capitalize;
  @media all and (min-width: 768px) {
    font-size: 26px;
  }
  @media all and (min-width: 1280 px) {
    font-size: 32px;
  }
}

/*PARAGRAPH*/

.insomnia-tips_paragraph-article {
  font-family: "Roboto Slab", serif;
  color: #4a4a4a;
  font-size: 18px;
  margin-top: 15px;
  text-align: justify;
  @media all and (min-width: 768px) {
    font-size: 20px;
  }
  @media all and (min-width: 1280 px) {
    font-size: 20px;
  }
}

/*BUTTOM TITTLE*/

.buttom-article {
  border: solid 2px #f26002;
  border-radius: 22.5px;
  width: 76px;
  height: 45px;
  text-align: center;
  padding-top: 8px;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  color: #f26002;
  text-transform: capitalize;
  font-weight: bold;
  background: white;
  margin-top: 30px;
  margin-bottom: 45.12px;
  transition: color ease 0.5s, background ease 0.5s, border ease 1s;
}

.buttom-article:hover {
  color: black;
  background: lightsalmon;
  border: solid 2px black;
}
