/*BASE*/

.footer {
  border: 3px solid purple;
  background-color: #304268;
  color: white;
  height: 465px;
}

/*ICON SCROLL UP*/

.container-scroll-up {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  padding-top: 10px;
  position: relative;
  left: 131px;
  bottom: 24px;
}

/*STRUCTURE CONTAINER DIV */
.fotter-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

/*STRUCTURE COPY*/

.copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.88;
  order: 3;
}
.hearts {
  color: red;
}

/*STRUCTURE LIST LINK - NAV */

.footer__nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.88;
  order: 1;
  margin-bottom: 20px;
  list-style: none;
}

.footer__nav-link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  font-family: "Roboto Slab", serif;
}

/*STRUCTURE LIST LINK - SOCIAL */

.footer__nav-social-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.88;
  order: 2;
  margin-bottom: 20px;
  list-style: none;
}

.footer__nav-social-link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  font-family: "Roboto Slab", serif;
}
