/*BASE*/

.footer {
  background-color: #304268;
  color: white;
  height: 465px;
  @media all and (min-width: 768px) {
    height: 240px;
  }
}

/*ICON SCROLL UP*/

.container-scroll-up {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  padding-top: 10px;
  position: relative;
  bottom: 24px;
  margin: 0 auto;
}

/*STRUCTURE CONTAINER DIV */
.fotter-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
  }
  @media all and (min-width: 1280px) {
    margin-left: 300px;
    margin-right: 300px;
  }
}

/*STRUCTURE COPY*/

.copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.88;
  font-family: "Roboto", serif;
  @media all and (min-width: 768px) {
    order: -1;
    align-items: flex-start;
  }
}
.hearts {
  color: red;
}

/*STRUCTURE LIST LINK - NAV */

.footer__nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.88;
  margin-bottom: 20px;
  list-style: none;
  @media all and (min-width: 768px) {
    align-items: flex-start;
  }
}

.footer__nav-link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  font-family: "Roboto", serif;
}

/*STRUCTURE LIST LINK - SOCIAL */

.footer__nav-social-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.88;
  margin-bottom: 20px;
  list-style: none;
  @media all and (min-width: 768px) {
    align-items: flex-start;
  }
}

.footer__nav-social-link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  font-family: "Roboto", serif;
}
