.header {
  border: 3px solid blue;
}

/*MENU-ICON*/

.container__header-icon {
  background: #0271bc;
  height: 44px;
  width: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  position: fixed;
  z-index: 100;
}

.header-icon {
  height: 14px;
  width: 16px;
}

/*HERO*/

.header__hero {
  background-image: url(../images/cover.jpg);
  width: 320px;
  height: 568px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /*position:relative*/
}

.header__hero-inner {
  text-align: center;
  /*position: absolute;*/
  width: 100%;
  color: white;
  z-index: 80;
}

.header__hero-inner-tittle {
  font-size: 42px;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  padding-top: 284px;
  padding-bottom: 10.22px;
}

.header__hero-inner-second-tittle {
  font-size: 16px;
  font-family: "Roboto Slab", serif;
  padding-bottom: 45px;
}

/*BUTTOM-SCROLL DOWN*/

.container_scroll-down {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: white;
  text-align: center;
  margin-left: 137.5px;
}

.scroll-down-icon {
  padding-top: 18px;
}
